@font-face{
	font-family: PressStartK;
    src: url('../fonts/prstartk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: PressStart;
	src: url('../fonts/prstart.eot');
    src: url('../fonts/prstart.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prstart.woff') format('woff'),
         url('../fonts/prstart.ttf') format('truetype'),
         url('../fonts/prstart.svg#PressStart') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes popInInventory {
	0% {transform: translate(-50%,32px) scale(0.01,0.8);}
	5% {transform: translate(-50%,32px) scale(0.8,0.01);}
	10% {transform: translate(-50%,32px) scale(0.01,0.8);}
	15% {transform: translate(-50%,32px) scale(0.8,0.01);}
	20% {transform: translate(-50%,32px) scale(0.3,0.8);}
	100% {transform: translate(-50%,-16px) scale(1,1);}
}
@keyframes popOut {
	0% {transform: scale(1,1);}
	20% {transform: scale(1,0.01);}
	50% {transform: scale(0.01,0.01);}
	100% {transform: scale(0,0);}
}

.closing{
	animation: popOut 1s linear 1 forwards;
}

.adventure-container{
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align:center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333;
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	p {
		margin: 0 0 10px;
	}
	.clickable{
		cursor: pointer;
		border-color: #000000;
		background-color: #000000;
		background-blend-mode: screen;
		transform: translate(0px,0px);
		transition: border-color .5s, background-color .5s, box-shadow .5s, transform .5s;
	}
	.clickable:hover{
		border-color: #FFFF00;
		background-color: #888888;
		box-shadow: 0px 3px 10px black;
		transform: translate(0px,-5px);
	}
	.adventure-box{
		display: inline-block;
		position:relative;
		width: 100%;
		max-width:640px;
		min-width:160px;
		min-height:160px;
		box-shadow: 0px 0px 16px black;
		.adventure-content{
			display: block;
			position:relative;
			top:0px;
			left:0px;
			padding: 32px;
			z-index: 50;
			font-family: PressStartK, PressStart, Arial;
			text-transform: uppercase;
			text-align: left;
			pointer-events: none;
			.image-manager{
				position: relative;
				display:block;
				width:100%;
				padding-bottom: 60%;
				margin-bottom:16px;
				.image-container{
					position: absolute;
					display:block;
					width:100%;
					padding-bottom: 60%;
					overflow:hidden;
					div{
						position: absolute;
						width: 100%;
						height: 100%;
						overflow:hidden;
						img{
							position: absolute;
							top: 50%;
							left: 50%;
							width:100%;
							vertical-align: middle;
							-ms-transform: translateX(-50%) translateY(-50%) scale(1.0);
		    				-webkit-transform: translateX(-50%) translateY(-50%) scale(1.0);
							transform: translateX(-50%) translateY(-50%) scale(1.0);
							-webkit-filter: none;
		    				filter: none;
						}
					}
					&.blank{
						z-index: 3;
						width: 100%;
						height: 100%;
						display: none;
						&.black{
							background-color: black;
						}
						&.white{
							background-color: white;
						}
					}
				}
			}
			.page-manager{
				position: relative;
				background-color: rgba(0,0,0,0.3);
				color: #FFFFFF;
				text-shadow: black 2px 2px;
				overflow: hidden;
				.page-body{
					position: absolute;
					padding: 16px;
					p:last-child{
						margin-bottom: 0px;
					}
				}
			}
			.action-manager{
				position: relative;
				overflow: hidden;
				pointer-events: auto;
				.actions{
					position: absolute;
					width: 100%;
					margin-top:16px;
					.selection-list{
						.selection{
							width: 83.33333%;
							margin-left: 8.33333%;
							.action-box{
								@extend .clickable;
								display: inline-block;
								clear: right;
								border: 3px solid black;
								background-image: url('../img/builder/background-button.png');
								box-shadow:0px 0px 5px 0px black, 0px -1px 15px 0px #888 inset;
								padding: 5px 10px 5px 10px;
								margin-bottom: 5px;
								img{
									height: 14px;
									vertical-align: middle;
								}
							}
							.speech-bubble{
								@extend .clickable;
								display: inline-block;
								clear: right;
								background: #FFFFFF;
								border: 3px solid black;
								border-radius: 15px;
								box-shadow: 0px 0px 5px 0px black, 0px -1px 15px 0px #888 inset;
								padding: 5px 10px 5px 10px;
								margin-bottom: 15px;
								&:hover{
									background: #FFFFFF;
								}
								&:before{
									content: ' ';
									position: absolute;
									width: 0;
									height: 0;
									left: 17px;
									top: 100%;
									border: 10px solid;
									border-color: black transparent transparent black;
									transition: border-color .5s;
								}
								&:hover:before{
									border-color: yellow transparent transparent yellow;
								}
								&:after{
									content: ' ';
									position: absolute;
									width: 0;
									height: 0;
									left: 20px;
									top: 100%;
									border: 6px solid;
									border-color: #bfbfbf transparent transparent #bfbfbf;
									transition: border-color .5s;
								}
								&:hover:after{
									border-color: white transparent transparent white;
								}
							}
						}
					}
				}
			}
		}
		.adventure-background, .adventure-background-transition{
			display: block;
			position: absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			border: 16px solid transparent;
			box-shadow: 0px 0px 32px black inset;
			.close-box{
				position: absolute;
				width: 32px;
				height: 32px;
				top: -16px;
				right: -16px;
				background-image: url('../img/viewer/close-box.gif');
				cursor: pointer;
			}
		}
		.adventure-background{
			z-index: 1;
		}
		.adventure-background-transition{
			z-index: 2;
		}
		.normal{
			border-image: url('../img/viewer/border-normal.gif') 16 round;
			background: url('../img/viewer/background-normal.gif') repeat;
			.close-box{
				background-position: 0px 0px;
			}
		}
		.death{
			border-image: url('../img/viewer/border-death.gif') 16 round;
			background: url('../img/viewer/background-death.gif') repeat;
			.close-box{
				background-position: -32px 0px;
			}
		}
		.badEnding{
			border-image: url('../img/viewer/border-badEnding.gif') 16 round;
			background: url('../img/viewer/background-badEnding.gif') repeat;
			.close-box{
				background-position: -64px 0px;
			}
		}
		.goodEnding{
			border-image: url('../img/viewer/border-goodEnding.gif') 16 round;
			background: url('../img/viewer/background-goodEnding.gif') repeat;
			.close-box{
				background-position: -96px 0px;
			}
		}
		.inventory{
			position: relative;
			display: inline-block;
			min-width: 105px;
			max-width: 83.33333%;
			min-height: 16px;
			margin-left: 8.33333%;
			margin-top: 8px;
			margin-bottom: 8px;
			border: 8px solid transparent;
			border-image: url('../img/viewer/border-inventory.gif') 8 round;
			background: black;
			background-clip: content-box;
			transition: height .5s, width .5s;
			pointer-events: auto;
			.item{
				position: relative;
				display: inline-block;
				width: 32px;
				height: 32px;
				margin: 8px;
				.item-image-container{
					position: relative;
					display:block;
					width:100%;
					padding-bottom: 100%;
					overflow: hidden;
					img{
						position: absolute;
						top: 50%;
						left: 50%;
						width: 100%;
						vertical-align: middle;
						-ms-transform: translateX(-50%) translateY(-50%) scale(1.0);
						-webkit-transform: translateX(-50%) translateY(-50%) scale(1.0);
						transform: translateX(-50%) translateY(-50%) scale(1.0);
						-webkit-filter: none;
						filter: none;
					}
				}
				.quantity{
					position: absolute;
				    bottom: 0px;
				    right: 0px;
				    font-size: 8px;
				    color: white;
				    font-size: 8px;
					color: white;
					text-shadow: black 1px 1px,
								black -1px 1px,
								black 1px -1px,
								black -1px -1px;
				}
				.description{
					position: absolute;
					left: 50%;
					bottom: 100%;
					width: 312px;
					background: rgba(0,0,0,0.8);
					background-clip: content-box;
					border: 8px solid transparent;
					border-image: url("../img/viewer/border-inventory.gif") 8 round;
					-ms-transform: translate(-50%,-16px);
					-webkit-transform: translate(-50%,-16px);
					transform: translate(-50%,-16px);
					display:none;
					animation: popInInventory .5s ease-out 1;
					text-shadow: black 2px 2px;
					h3{
						color: #FFFF00;
						text-align:center;
						margin: 8px;
						font-size: 14px;
						font-weight: normal;
						text-decoration: underline;
					}
					p{
						color: #DDDDDD;
						margin: 8px;
					}
					&.clicked{
						display:block;
					}
				}
				&:hover .description{
					display:block;
				}
			}
			&:before{
				position: absolute;
				top: -8px;
				left: 8px;
				content: "Inventory";
				font-size: 8px;
				color: white;
				text-shadow: black 0px 0px 3px,
							black 1px 1px,
							black -1px 1px,
							black 1px -1px,
							black -1px -1px;
			}
		}
	}
}